/* Loader from CSS Loaders.com */
.loader {
  width: 90px;
  height: 24px;
  padding: 2px 0;
  box-sizing: border-box;
  display: flex;
  animation: l5-0 3s infinite steps(6);
  background:
    linear-gradient(#000 0 0) 0 0/0% 100% no-repeat,
    radial-gradient(circle 3px,#39ff14 90%,#0000) 0 0/20% 100%
    #000;
  overflow: hidden;
}
.loader::before {
  content: "";
  width: 20px;
  transform: translate(-100%);
  border-radius: 50%;
  background: #39ff14;
  animation: 
    l5-1 .25s .153s infinite steps(5) alternate,
    l5-2  3s        infinite linear;
}
@keyframes l5-1{ 
    0% {clip-path: polygon(50% 50%,100%   0,100% 0,0 0,0 100%,100% 100%,100% 100%)}
  100% {clip-path: polygon(50% 50%,100% 65%,100% 0,0 0,0 100%,100% 100%,100%  35%)}
}
@keyframes l5-2{ 
  100% {transform: translate(90px)}
}
@keyframes l5-0{ 
  100% {background-size:120% 100%,20% 100%}
}


body {
  font-family: 'VT323', monospace;
  color: #39ff14;
  background-color: black;
  width: 100vw;
  margin: 0;
  padding: 0;
}

.loader-container {
  display: flex;
  justify-content: center;
}

header {
  font-size: .75rem;
  padding: 2em;
  text-align: center;
  margin-bottom: 0;
}

.search {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

input, button {
  margin: .5em;
  border-style: solid;
  border-color:#39ff14;
  font-family: inherit;
  font-weight: bold;
}

button {
  color: white;
  background-color: black;
  padding: 1em 2em;
}

.alert, .forecast {
  padding: 2em;
  font-size: .75rem;
}

.alert-desc, .forecast-desc {
  line-height: 1.5;
}

@media only screen and (min-width: 480px) {
  body {
    width: 50vw;
    padding-left: 25%;
  }
}
